-
	const data = {
		header: {
			links: {
				logo: '#main',
				writeus: '#write-us'
			},
			menu: [
				{
					url: '#advantages',
					name: 'Преимущества'
				},
				{
					url: '#products',
					name: 'Продукция',
					sublist: [
						{
							url: '#prod-1',
							img: 'images/nav-prod-thumb1.png',
							name: 'Универсальный скоростной проход с распашными створками'
						},
						{
							url: '#prod-2',
							img: 'images/nav-prod-thumb2.png',
							name: 'Компактный скоростной проход с распашными створками'
						},
						{
							url: '#prod-3',
							img: 'images/nav-prod-thumb3.png',
							name: 'Скоростной проход с раздвижными створками'
						},
						{
							url: '#prod-4',
							img: 'images/nav-prod-thumb4.png',
							name: 'Калитка и ограждение'
						},
					]
				},
				{
					url: '#gallery',
					name: 'Фотогалерея'
				},
				{
					url: '#about',
					name: 'О компании'
				}
			]
		}, 

		home: {
			advanages: {
				icons: [
					{
						svg: 'icon-adv-1',
						text: 'Бесконтактность'
					}, 
					
					{
						svg: 'icon-adv-2',
						text: 'Высокая пропускная способность'
					}, 
					
					{
						svg: 'icon-adv-3',
						text: 'Контроль прохода по одному'
					}, 
					
					{
						svg: 'icon-adv-4',
						text: 'Безопасность в аварийной ситуации'
					}, 
					
					{
						svg: 'icon-adv-5',
						text: 'Рабочий диапазон температур'
					}, 
					
					{
						svg: 'icon-adv-6',
						text: '5 лет гарантии'
					}, 
				]
			},
			characteristics: {
				icons: [
					{
						svg: 'icon-char-1',
						text: 'напряжение питания'
					}, 
					
					{
						svg: 'icon-char-2',
						text: 'направление движения'
					}, 
					
					{
						svg: 'icon-char-3',
						text: 'человек в минуту'
					}, 
					
					{
						svg: 'icon-char-4',
						text: 'диапазон температур'
					}, 
					
					{
						svg: 'icon-char-5',
						text: 'степень защиты'
					}, 
					 
				]
			},
			about: {
				icons: [
					{
						svg: 'icon-about-1',
						text: '33 года работы на рынке'
					}, 
					
					{
						svg: 'icon-about-2',
						text: 'Разветвленная диллерская сеть, сервисные центры во всех регионах'
					}, 
					
					{
						svg: 'icon-about-3',
						text: 'Продажи в 92 странах мира'
					}, 
					
					{
						svg: 'icon-about-4',
						text: 'Склады готовой продукции в Москве, Санкт‑Петербурге, Пскове и ЕС'
					}, 
					
					{
						svg: 'icon-about-5',
						text: '5-летний гарантийный срок на оборудование'
					}, 
					
					{
						svg: 'icon-about-6',
						text: 'Техническая поддержка и бесплатное обучение в Учебном центре'
					}, 
				]
			},
			share: {
				caption: 'Поделиться:',
				list: ['fb', 'tw', 'vk', 'ok'],
			},
			soc: {
				icons: [
					{
						svg: 'icon-soc-1',
						link: '#'
					}, 
					
					{
						svg: 'icon-soc-2',
						link: '#'
					}, 
					
					{
						svg: 'icon-soc-3',
						link: '#'
					}, 
					
					{
						svg: 'icon-soc-4',
						link: '#'
					}, 
					
					{
						svg: 'icon-soc-5',
						link: '#'
					},  
				]
			},
			ytLink: {
				st11: 'https://www.youtube.com/watch?v=1Ap-dv-lEQY',
			}
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
