//- Скоростной проход ST-01
.ver1.video0#prod-section-0
    .container
        .row 
            .js-video-main-wrap.push-2.cell-8.post-2.push-0-md.cell-12-md.post-0-md
                .header-demo.flex-between.flex-middle(data-aos="fade-in" data-aos-anchor-placement="center-center")
                    .reserve-height 
                        span Скоростной проход ST-01 
                        h2.header-demo__text.text-pinned#js-dynamic-prod1
                    .video-btn__wrap
                        a.btn.header-demo__video-btn(data-fancybox-plyr data-src=data.home.ytLink.st01 mainClass="full-vid") смотреть видео 
                .swiper-container.slider-demonstration.js-sliderdemo-0(data-aos="fade-in" data-aos-anchor-placement="top-bottom")
                    .swiper-wrapper
                        .swiper-slide(data-name="Ракурсы" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/1003/poster0_0-min.jpg',
                                source: [
                                    {
                                        srcset: `video/st01/586x330/webm/1.webm`,
                                        type: 'video/webm',
                                    },
                                    {
                                        srcset: `video/st01/586x330/1.mp4`,
                                        type: 'video/mp4',
                                    },
                                ]
                            })#index-0_0(muted, preload, playsinline)
                        .swiper-slide(data-name="Доступ" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/1003/poster0_1-min.jpg',
                                source: [
                                    {
                                        srcset: `video/st01/586x330/webm/2.webm`,
                                        type: 'video/webm',
                                    },
                                    {
                                        srcset: `video/st01/586x330/2.mp4`,
                                        type: 'video/mp4',
                                    },
                                ]
                            })#index-0_1(muted, preload="none", playsinline)
                        .swiper-slide(data-name="Габариты" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/1003/poster0_5-min.jpg',
                                source: [
                                    {
                                        srcset: `video/st01/586x330/webm/6.webm`,
                                        type: 'video/webm',
                                    },
                                    {
                                        srcset: `video/st01/586x330/6.mp4`,
                                        type: 'video/mp4',
                                    },
                                ]
                            })#index-0_2(muted, preload="none", playsinline)
                        .swiper-slide(data-name="Безопасность" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/1003/poster0_3-min.jpg',
                                source: [
                                    {
                                        srcset: `video/st01/586x330/webm/4.webm`,
                                        type: 'video/webm',
                                    },
                                    {
                                        srcset: `video/st01/586x330/4.mp4`,
                                        type: 'video/mp4',
                                    },
                                ]
                            })#index-0_3(muted, preload="none", playsinline)
                        .swiper-slide(data-name="Исполнение" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/1003/poster0_4-min.jpg',
                                source: [
                                    {
                                        srcset: `video/st01/586x330/webm/5.webm`,
                                        type: 'video/webm',
                                    },
                                    {
                                        srcset: `video/st01/586x330/5.mp4`,
                                        type: 'video/mp4',
                                    },
                                ]
                            })#index-0_4(muted, preload="none", playsinline)
                        .swiper-slide(data-name="Интеграция" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/1003/poster0_2-min.jpg',
                                source: [
                                    {
                                        srcset: `video/st01/586x330/webm/3.webm`,
                                        type: 'video/webm',
                                    },
                                    {
                                        srcset: `video/st01/586x330/3.mp4`,
                                        type: 'video/mp4',
                                    },
                                ]
                            })#index-0_5(muted, preload="none", playsinline) 
                .swiper-pagination