//- Скоростной проход ST-01
.ver1.video0#prod-section-0
    .container
        .row 
            .js-video-main-wrap.push-2.cell-8.post-2.push-0-md.cell-12-md.post-0-md
                .header-demo.flex-between.flex-middle(data-aos="fade-in" data-aos-anchor-placement="center-center")
                    h2.header-demo__text Скоростной проход ST-01
                    a.btn.header-demo__video-btn(data-fancybox-plyr data-src=data.home.ytLink.st01 mainClass="full-vid") смотреть видео
                    
                //- Далее: Скоростной проход ST-11 
                //- include svg_next_btn
                .swiper-container.slider-demonstration.js-sliderdemo-0(data-aos="fade-in" data-aos-anchor-placement="top-center")
                    .swiper-wrapper
                        .swiper-slide(data-name="Ракурсы")
                            //- poster: 'images/video-posters/poster1.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st01/1.mp4`, 
                                        type: 'video/mp4', 
                                    },
                                    { 
                                        srcset: `video/1245x701/1.mp4`,
                                        type: 'video/mp4', 
                                    }
                                ]
                            }).lozad#index-1(autoplay, muted)
                        .swiper-slide(data-name="Проход")
                            //- poster: 'images/video-posters/poster2.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st01/2.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/2.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-2(muted)
                        .swiper-slide(data-name="Интеграция")
                            //- poster: 'images/video-posters/poster2.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st01/3.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/3.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-2(muted)
                        .swiper-slide(data-name="Безопасность") 
                            //- poster: 'images/video-posters/poster3.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st01/4.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/4.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-3(muted)
                        .swiper-slide(data-name="Исполнение")
                            //- poster: 'images/video-posters/poster4.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st01/5.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/5.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-4(muted)
                        .swiper-slide(data-name="Габариты")
                            //- poster: 'images/video-posters/poster5.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st01/6.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/6.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-5(muted) 
                .swiper-pagination