//- скоростной проход st-02
section.ver1.video2#prod-3 
    .container
        .row 
            .js-video-main-wrap.push-2.cell-8.post-2.cell-12-md
                .header-demo.flex-between.flex-middle(data-aos="fade-in" data-aos-anchor-placement="center-center")
                    h2.header-demo__text Скоростной проход ST-02
                    a.btn.header-demo__video-btn(data-fancybox-plyr data-src=data.home.ytLink.st02 mainClass="full-vid")  смотреть видео
                .btn.js-startstop Stop
                .swiper-container.slider-demonstration.js-sliderdemo-3(data-aos="fade-in" data-aos-anchor-placement="top-center")
                    .swiper-wrapper
                        .swiper-slide(data-name="Ракурсы")
                            //- poster: 'images/video-posters/poster1.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st02/990x560/1.mp4`, 
                                        type: 'video/mp4', 
                                    },
                                    { 
                                        srcset: `video/1245x701/1.mp4`,
                                        type: 'video/mp4', 
                                    }
                                ]
                            }).lozad#index-1(autoplay, muted)
                        .swiper-slide(data-name="Проход")
                            //- poster: 'images/video-posters/poster2.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st02/990x560/2.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/2.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-2(muted)
                        .swiper-slide(data-name="Проход2")
                            //- poster: 'images/video-posters/poster2.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st02/990x560/3.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/3.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-2(muted)
                        .swiper-slide(data-name="Исполнение") 
                            //- poster: 'images/video-posters/poster3.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st02/990x560/4.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/4.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-3(muted)
                        .swiper-slide(data-name="Безопасность")
                            //- poster: 'images/video-posters/poster4.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st02/990x560/5.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/5.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-4(muted)
                        .swiper-slide(data-name="Размеры")
                            //- poster: 'images/video-posters/poster5.jpg',
                            +lazyVideo({
                                source: [
                                    {
                                        srcset: `video/st02/990x560/6.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/1245x701/6.mp4`,
                                        type: 'video/mp4',
                                    }
                                ]
                            }).lozad#index-5(muted) 
                .swiper-pagination 
            
    .container
        .row
            .cell-3.cell-0-md
            .cell-6.cell-12-md
                .icons_list.characteristics.row
                    each object, key in data.home.characteristics.icons
                        .icon__item.cell-2
                            figure.icon(
                                class=object.svg 
                            )
                            span.icon__signature 
                                != object.text 		
            .cell-3.cell-0-md