//- скоростной проход st-11
.ver1.video1#prod-section-1
    .container
        .row 
            .js-video-main-wrap.push-2.cell-8.post-2.push-0-md.cell-12-md.post-0-md
                .header-demo.flex-between.flex-middle(data-aos="fade-in" data-aos-anchor-placement="center-center")
                    h2.header-demo__text Скоростной проход ST-11
                    a.btn.header-demo__video-btn(data-fancybox-plyr data-src=data.home.ytLink.st11 mainClass="full-vid") смотреть видео
                //-  Далее: Скоростной проход ST-02
                //- include svg_next_btn
                .swiper-container.slider-demonstration.js-sliderdemo-1(data-aos="fade-in" data-aos-anchor-placement="top-center")
                    .swiper-wrapper
                        .swiper-slide(data-name="Ракурсы" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/poster1.jpg',
                                source: [
                                    {
                                        srcset: `video/st11/990x560/1.mp4`,
                                        type: 'video/mp4',
                                    }, 
                                    { 
                                        srcset: `video/st02/740x418/1.mp4`,
                                        type: 'video/mp4', 
                                        media: "all and (max-width: 740px)",
                                        dataMw: "740"
                                    }
                                ]
                            }).lozad#index-1(muted)
                        .swiper-slide(data-name="Доступ" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/poster2.jpg',
                                source: [
                                    {
                                        srcset: `video/st11/990x560/2.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/st02/740x418/1.mp4`,
                                        type: 'video/mp4', 
                                        media: "all and (max-width: 740px)",
                                        dataMw: "740"
                                    }
                                ]
                            }).lozad#index-2(muted)
                        .swiper-slide(data-name="Габариты" data-ended="0") 
                            +lazyVideo({
                                poster: 'images/video-posters/poster3.jpg',
                                source: [
                                    {
                                        srcset: `video/st11/990x560/3.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/st02/740x418/1.mp4`,
                                        type: 'video/mp4', 
                                        media: "all and (max-width: 740px)",
                                        dataMw: "740"
                                    }
                                ]
                            }).lozad#index-3(muted)
                        .swiper-slide(data-name="Безопасность" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/poster4.jpg',
                                source: [
                                    {
                                        srcset: `video/st11/990x560/4.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/st02/740x418/1.mp4`,
                                        type: 'video/mp4', 
                                        media: "all and (max-width: 740px)",
                                        dataMw: "740"
                                    }
                                ]
                            }).lozad#index-4(muted)
                        .swiper-slide(data-name="Исполнение" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/poster5.jpg',
                                source: [
                                    {
                                        srcset: `video/st11/990x560/5.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/st02/740x418/1.mp4`,
                                        type: 'video/mp4', 
                                        media: "all and (max-width: 740px)",
                                        dataMw: "740"
                                    }
                                ]
                            }).lozad#index-5(muted)
                        .swiper-slide(data-name="Интеграция" data-ended="0")
                            +lazyVideo({
                                poster: 'images/video-posters/poster6.jpg',
                                source: [
                                    {
                                        srcset: `video/st11/990x560/6.mp4`, 
                                        type: 'video/mp4',
                                    },
                                    { 
                                        srcset: `video/st02/740x418/1.mp4`,
                                        type: 'video/mp4', 
                                        media: "all and (max-width: 740px)",
                                        dataMw: "740"
                                    }
                                ]
                            }).lozad#index-6(muted)
                .swiper-pagination