@media screen and (min-width: 1960px) {}

@media screen and (min-width: 1675px) {}

@media screen and (max-width: 1675px) {}

@media screen and (max-width: 1550px) {
    .home .four {
        background: #003067;
        height: auto;
    }
    .four>.container {
        padding: 0;
    }
    .home .about__text,
    .home .about__text_icons {
        width: 70%;
        margin: 50px auto;
    }
    .home .four .about-title {
        top: 198px;
        right: calc(50% + 50px);
        // font-size: 14px;
        z-index: 5;
        width: 116px;
        text-align: right;
    }
    .home .four .about-title+.about-title {
        top: 198px;
        right: 39px;
    }
}

@media screen and (max-width: 1366px) {
    .header__nav-container {
        padding: 0 75px;
    }
    .header__language .select-lang {
        left: -50px;
    }
    .header__nav-container .nav-container__item .nav-sublist {
        width: 37vw;
    }
    .home .icons_list .icon__item .icon {
        height: 50px;
        width: 75px;
        background-size: contain;
    }
    .home .icons_list .icon__item .icon__signature {
        margin-top: 40px;
        font-size: 14px;
        line-height: 1.3em;
    }
    .home .five .icon__item {
        max-height: 39px;
    }
    .home .five .icons_list .icon__item .icon {
        height: 39px;
        background-size: contain;
    }
    .home section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .home .four .about-title {
        top: 158px;
    }
    .home .four .about-title+.about-title {
        top: 158px;
    }
}

@media screen and (max-width: 1200px) {
    .header__nav-container .nav-container__item .nav-sublist {
        width: 47vw;
    }
    .home .four {
        background: #003067;
    }
}

@media screen and (max-width: 1024px) {
    .nav-container__link[href="#products"]::after {
        display: none;
    }
    .about {
        font-size: 20px;
    }
    .home .dop-prod .slider-dop {
        height: auto;
    }
    .slider-dop__wrap+.swiper-pagination-container .swiper-pagination-btn {
        min-height: 170px;
    }
    .flex-no-wrap {
        flex-wrap: wrap;
    }
    .home section.dop-prod {
        height: auto;
    }
    .home .dop-prod .slider-dop__wrap.cell-8-md {
        order: 0;
        max-width: 66.66667%;
        height: auto;
    }
    .slider-cube-nav {
        display: none;
    }
    .js-video-main-wrap {
        left: -10px;
    }
    .header__nav-container .nav-container__link {
        padding: 0 12px;
        font-size: 17px;
    }
    .header__language .select-lang {
        left: -65px;
        width: 75px;
    }
    .home .hero .reserve-height {
        font-size: 57px;
    }
    .home .hero .header__text {
        line-height: 1em;
        font-size: 57px;
        margin: 0 0 12px;
        min-height: 69px;
    }
    .home .hero .header__text_subtext {
        position: relative;
        top: 15px;
        line-height: 1.3em;
    }
    .home .hero .header__text_subtext {
        font-size: 36px;
    }
    .home section .header-demo {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .home section .header-demo__video-btn {
        width: 100%;
    }
    .home section .header-demo__text {
        font-size: 48px;
        width: 100%;
        line-height: 1.3em;
    }
    .home h2,
    .home h2.header__text,
    .home section .reserve-height {
        font-size: 48px;
        min-height: 60px;
        margin-bottom: 27px;
    }
    .four .header__text {
        margin-bottom: 35px;
    }
    .home section.two .header__container {
        padding: 0 10%;
    }
    .home section.dop-prod .header__text {
        padding: 0;
    }
}

@media screen and (max-width: 920px) {
    .header__nav-container .nav-container__item {
        width: auto;
    }
    .header__nav-container {
        padding: 0 68px;
    }
    .video1>.container {
        padding-left: 0;
        padding-right: 0;
    }
    .home .four .about-title {
        top: 140px;
        right: calc(50% + 30px);
        font-size: 14px;
        width: 106px;
    }
    .home .four .about-title+.about-title {
        top: 140px;
        right: 16px;
    }
}

@media screen and (max-width: 768px) {
    .two .swiper-button-prev,
    .two .swiper-button-next {
        display: none;
    }
    .header__nav-container .nav-container__link {
        padding: 0 5px;
        font-size: 15px;
    }
    .header__nav-container {
        padding: 0 25px;
    }
    .home section .slider-gallery .slide-signature {
        font-size: 18px;
        height: 29px;
        display: block;
    }
    .home .swiper-button-next {
        right: 0;
    }
    .home .swiper-button-prev {
        left: 0;
    }
    .home section .header__container {
        padding: 0 75px;
    }
    .home section .header__text_subtext {
        font-size: 29px;
        line-height: 34px;
    }
    .header__language {
        order: 2;
    }
    .header__language .select-lang__name::after {
        content: none;
    }
    .header__language .select-lang {
        width: 52px;
        right: 0px;
        left: auto;
    }
    .header__language .select-lang__name {
        left: 0px;
    }
    .header__language .select-lang__list {
        right: 0;
    }
    .header__pen-img {
        width: 75px;
        height: 75px;
        right: 50.5px;
        top: 29px;
    }
    .header__pen {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .header__pen-ver {
        width: 0;
    }
    .header__pen-ver-trigger {
        position: absolute;
        top: calc(100vh - 50vh);
        right: 103px;
        width: 150px;
    }
    .header:after {
        content: none;
    }
    .header:before {
        content: none;
    }
    .header__wrap {
        height: 46px;
        background: url("../images/header-plawka-sm.svg") no-repeat bottom right/cover transparent;
    }
    .header__logo svg {
        margin-left: 20px;
    }
    .hero .swiper-slide>img {
        width: auto;
        height: 100%;
        max-width: unset;
    }
    .hero .swiper-container {
        flex: 1 1 auto;
    }
    .home section.hero {
        padding: 85px 0 0;
    }
    .home .swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet,
    .home .swiper-container-horizontal+.swiper-pagination .swiper-pagination-bullet {
        width: 65px;
        margin: 0 9px;
    }
    .swiper-pagination-bullet .centered-bullet {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .home section .header__text_subtext {
        font-size: 20px;
        line-height: 24px;
    }
    .home section .header__container {
        padding: 0 30px;
    }
    .home .swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet,
    .home .swiper-container-horizontal+.swiper-pagination .swiper-pagination-bullet {
        width: 35px;
        margin: 0 9px;
        border-width: 1px;
    }
    .header__pen-img:hover {
        background-size: 31px;
    }
    .header__pen-img {
        background-size: 28px;
    }
    .home .hero .header__text {
        min-height: auto;
    }
    .home section .reserve-height .header__text {
        text-align: center;
    }
    .home section .reserve-height {
        font-size: 48px;
    }
    .home .hero .header__text {
        font-size: 48px;
    }
    .home .hero .header__text_subtext {
        font-size: 21px;
    }
    .header__logo {
        flex: 1 1 41%;
    }
    .header__language {
        order: 0;
        flex: 1 0 25%;
    }
    .header__language .select-lang {
        right: auto;
        left: 0;
        width: 71px;
        justify-content: flex-start;
        padding-left: 10px;
    }
    .header__language .select-lang__name::after {
        content: "";
    }
    .header__language .select-lang__list {
        right: auto;
        left: 0;
    }
    .home .four .about-title {
        top: 134px;
        right: calc(50% + 13px);
    }
    .home .four .about-title+.about-title {
        top: 134px;
        right: 8px;
    }
}

@media screen and (max-width: 480px) {
    .home .icons_list .icon__item .icon__signature {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .home section .header__container {
        margin-bottom: 0;
    }
    .home section.hero .header__container {
        margin-bottom: 20px;
    }
    .home .hero .reserve-height,
    .home .hero .header__text {
        font-size: 48px;
        margin-bottom: 12px;
    }
    .home .hero .header__text_subtext {
        font-size: 20px;
    }
    .home h2,
    .home h2.header__text,
    .home section .reserve-height {
        font-size: 36px;
        margin-bottom: 27px;
    }
    .header__pen-img {
        top: 21px;
        right: 21.1px;
        width: 54px;
        height: 54px;
    }
    .header__wrap {
        height: 46px;
        background: url("../images/header-plawka-xs.svg") no-repeat right bottom transparent;
    }
}

@media screen and (max-width: 380px) {}

@media screen and (max-height: 874px) {
    .home section.two {
        padding: 45px 0 0;
    }
    .home .slider-prod .swiper-slide {
        height: 45vh;
    }
    .home .icons_list .icon__item .icon__signature {
        margin-top: 19px;
    }
}

@media screen and (min-height: 1474px) {
    .home .slider-cube-nav {
        top: 51%;
    }
}

@media screen and (min-height: 974px) {
    .home .slider-cube-nav {
        top: 53%;
    }
}